.note {
  margin: 0.5rem 0;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.note-body {
  position: relative;
}

.note-close {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

.note-title {
  color: white;
}

.note-description {
  color: white;
}
