<div class="row">
  <div class="col-md-12">
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Titulo</label>
            <input type="text" id="title" formControlName="title" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">Descripción</label>
            <textarea type="text" id="description" formControlName="description" class="form-control" rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">Color: </label>
            <br>
            <div class="btn-group flex-wrap" role="group" aria-label="Color">
              <button type="button" class="btn blue" (click)="setColorBlue()">Azul</button>
              <button type="button" class="btn red" (click)="setColorRed()">Rojo</button>
              <button type="button" class="btn yellow" (click)="setColorYellow()">Amarillo</button>
              <button type="button" class="btn green" (click)="setColorGreen()">Verde</button>
              <button type="button" class="btn orange" (click)="setColorOrange()">Naranja</button>
              <button type="button" class="btn purple" (click)="setColorPurple()">Violeta</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center btn-actions">
          <button type="button" class="btn btn-outline-danger" (click)="onCancel()">Cancelar</button>
          <button type="submit" class="btn btn-success" [disabled]="!noteForm.valid || note.color == ''">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
